@media (min-width: 1025px) {
    .footerContainer {
        background-color: yellowgreen;
        height: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .leftSection{
        width: 33.33%;
    }

    .middleSection{
        width: 33.33%;
        text-align: center;
    }

    .rightSection{
        width: 33.33%;
    }
}
  
@media (min-width: 769px) and (max-width: 1024px) {
    /* .footerContainer {
        background-color: yellowgreen;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    } */

    .footerContainer {
        background-color: rgba(191,191,191,0.2);
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .middleSection {
        color: white;
    }
} 

@media (max-width: 768px) {
    .footerContainer {
        background-color: rgba(191,191,191,0.2);
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .middleSection {
        color: white;
    }
}