.unauthorizedContainer{
    background-color: rgb(181 181 181 / 60%);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 3%;
    border-radius: 20px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    color: red;
    width: 40%;
    height: 40%;
    transform: rotate(90deg);
}

.icon {
    width: 100%;
    height: 100%;
}

.unauthorized {
    font-size: 1.8em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .unauthorizedContainer{
        background-color: rgb(181 181 181 / 60%);
        color: white;
        width: 75%;
        height: 70%;
        padding: 3%;
        border-radius: 20px;
        border: 2px solid white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .iconContainer {
        color: red;
        width: 40%;
        height: 40%;
        transform: rotate(90deg);
    }
    
    .icon {
        width: 100%;
        height: 100%;
    }
    
    .unauthorized {
        font-size: 1.8em;
        font-weight: bold;
    }
}