@media (min-width: 1025px) {
    .sideBarContainer {
        background-image: url('../../assets/Cancha_Basket.jpg');
        background-size: cover;
        background-position: center;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        border-top: 2px solid white;
    }

    .filterSection {
        background-color: rgba(250,250,250,0.8);
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
        padding: 3%;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 1.1em;
        user-select: none;
    }

    .checkBox {
        scale: 1.35;
    }

    .checkBox:hover {
        cursor: pointer;
    }

    .filterContainer {
        background-color: rgba(250,250,250,0.8);
        border-radius: 10px;
        border: 1px solid black;
    }

    .priceFilterInSideBar {
        background-color: rgba(250,250,250,0.8);
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
        padding: 3.5% 3%;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 1.1em;
        user-select: none;
    }

    .tools {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 10%;
        user-select: none;
    }

    .button {
        background-color: #9a349a;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8%;
        border: 1px solid silver;
        width: 55%;
        max-width: 130px;
        height: 34%;
        /* font-size: 0.85em; */
        font-size: min(1.4vw, 0.9em);
        font-weight: bold;
        border-radius: 10px;
    }

    .button:hover {
        cursor: pointer;
    }
}