@media (min-width: 769px) and (max-width: 1024px) {
    .sideBarContainer {
        background-color: pink;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .iconContainer {
        background-color: #adadad;
        height: 70%;
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 70%;
        height: 70%;
    }
} 


@media (max-width: 768px) {
    .sideBarContainer {
        background-color: #6d82cb;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .iconContainer {
        background-color: #adadad;
        height: 80%;
        margin-bottom: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 70%;
        height: 70%;
    }
}