/* .navBarContainer {
    background-color: #6d82cb
} */

@media (min-width: 1025px) {
    .navBarContainer {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 2.5em;
        color: white;
    }

    .button {
        background-color: #17dd94;
        width: 10vh;
    }
}
  
@media (min-width: 769px) and (max-width: 1024px) {
    .navBarContainer {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .leftSection, .rightSection {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middleSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 2.5em;
        color: white;
    }

    .button {
        background-color: rgb(243,125,83);
        color: white;
        padding: 1vh;
        border-radius: 10px;
        border: 1px solid white;
    }
} 


@media (max-width: 768px) {
    .navBarContainer {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .leftSection, .rightSection {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middleSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 2.5em;
        color: white;
    }

    .button {
        background-color: rgb(243,125,83);
        color: white;
        padding: 1vh;
        border-radius: 10px;
        border: 1px solid white;
    }
}