@media (min-width: 1025px) {
    .navBarContainer {
        background-image: url('../../assets/Pista_Tenis.JPG');
        background-size: cover;
        background-position: center;
        height: 14%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        user-select: none;
    }

    .leftSection, .rightSection {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middleSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 3.2em;
        color: white;
    }

    .button {
        background-color: rgb(243,125,83);
        color: white;
        padding: 1.2vh 2.5vh;
        border-radius: 10px;
        border: 1px solid white;
        font-size: 1.2em;
    }

    .button:hover {
        cursor: pointer;
    }
}
  
@media (min-width: 769px) and (max-width: 1024px) {
    .navBarContainer {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .leftSection, .rightSection {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middleSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 3.2em;
        color: white;
    }

    .button {
        background-color: rgb(243,125,83);
        color: white;
        padding: 1vh;
        border-radius: 10px;
        border: 1px solid white;
    }
} 


@media (max-width: 768px) {
    .navBarContainer {
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .leftSection, .rightSection {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middleSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 85%;
    }

    .title {
        font-style: italic;
        font-weight: bold;
        font-size: 2.5em;
        color: white;
    }

    .button {
        background-color: rgb(243,125,83);
        color: white;
        padding: 1vh;
        border-radius: 10px;
        border: 1px solid white;
    }
}