@media (min-width: 1025px) {
    .homeContainer {
        width: 80%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5vh;
        padding: 3vh 1vh;
        overflow: auto;
        border-top: 2px solid white;
        border-left: 2px solid white;
        box-sizing: border-box;
    }

    .uploadContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .toolContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .icon {
        color: white;
        width:70%;
        height: 70%;
    }

    .cardContainerInHome {
        width: 33vh;
        height: 29vh;
        background-color: rgb(181 181 181 / 61%);
        border: 2px solid white;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}
  
   
@media (min-width: 769px) and (max-width: 1024px) {
    .homeContainer {
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5vh;
        padding: 3vh 11vh 4vh;
        overflow: auto;
        border-top: 2px solid white;
    }

    .uploadContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .toolContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .icon {
        color: white;
        width:70%;
        height: 70%;
    }

    .cardContainerInHome {
        width: 33vh;
        height: 30vh;
        background-color: rgb(181 181 181 / 61%);
        border: 2px solid white;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

@media (max-width: 768px) {
    .homeContainer {
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vh;
        padding: 3vh 11vh 4vh;
        overflow: auto;
        border-top: 2px solid white;
    }

    .uploadContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .toolContainer {
        background-color: #9a349a;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid white;
    }

    .icon {
        color: white;
        width:70%;
        height: 70%;
    }

    .cardContainerInHome {
        width: 37vh;
        height: 32vh;
        background-color: rgb(181 181 181 / 61%);
        border: 2px solid white;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}