@media (min-width: 1025px) {
    .homeContainer {
        background-color: silver;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Columnas de al menos 200px de ancho y máximo 1fr */
        gap: 3vh 2.5vh; /* Espacio entre elementos */
        padding: 3vh;
        overflow: auto;
    }
}
  
   
@media (min-width: 769px) and (max-width: 1024px) {
    .homeContainer {
        background-color: silver;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        padding: 3vh 0;
        overflow: auto;
    }
}

@media (max-width: 768px) {
    .homeContainer {
        background-color: silver;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        padding: 3vh 0;
        overflow: auto;
    }
}